.is-size-1 {
  font-size: $font-size-1;
}

.is-size-2 {
  font-size: $font-size-2;
}

.is-size-3 {
  font-size: $font-size-3;
}

.is-size-4 {
  font-size: $font-size-4;
}

.is-size-5 {
  font-size: $font-size-5;
}

.is-size-6 {
  font-size: $font-size-6;
}

.is-size-7 {
  font-size: $font-size-7;
}

.is-sr-only {
  border: none !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 0.01em !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 0.01em !important;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $grey-lighter;
  line-height: normal;
  cursor: pointer;

  &[disabled] {
    color: #999;
  }

  &:hover {
    background: #fafafa;
  }

  &:focus, &.is-active, input:checked + &, input:focus + & {
    border: 1px solid $grey-light;
  }

  &:not(.is-light):not(.is-small):not(.is-extra-small) {

    padding: 1rem 1.1rem;
    border-radius: $border-radius-md;
    box-shadow: $shadow-md;
    font-size: $font-size-5;
    font-weight: 500;

    input[type=radio] + & {
      padding-right: 2rem;
    }
  }

  &.is-light {
    padding: 0.35rem .8rem;
    border-radius: $border-radius-sm;
    color: $color-text-light;
  }

  &.is-small {
    padding: 0.6rem .8rem;
    border-radius: $border-radius-md;
    box-shadow: $shadow-md;
    font-size: $font-size-7;
  }

  &.is-extra-small {
    padding: 0.35rem .8rem;
    border-radius: $border-radius-sm;
    color: $color-text-light;
    font-size: $font-size-7;
  }
}

.text-center {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}