@import 'variables';
@import 'classes';
@import 'transitions/index';

html {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  color: $color-text;
}

body {
  line-height: 1.75;
}

#__layout {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
