$black-light: #333;
$grey-dark: #999;
$grey: #aaa;
$grey-light: #ccc;
$grey-lighter: #ddd;
$grey-lightest: #eaeaea;

$color-text: $black-light;
$color-text-light: $grey-dark;

$navbar-height: 5rem;
$shadow-lg: 0 0 2rem 0 rgba(#000, 0.1);
$shadow-md: 0 0.2rem 0.4rem 0 rgba(#000, 0.1);
$shadow-sm: 0 0 4px 0 rgba(#000, .3);
$border-radius-xl: 1rem;
$border-radius-lg: .6rem;
$border-radius-md: .4rem;
$border-radius-sm: .25rem;
$border: 1px solid #bbb;
$transition-duration-long: .4s;
$max-width-narrow: 19rem;

$font-size-base: 12px;
$font-size-1: 3rem;
$font-size-2: 2.5rem;
$font-size-3: 2rem;
$font-size-4: 1.3rem;
$font-size-5: 1.2rem;
$font-size-6: 1rem;
$font-size-7: .9rem;
$font-size-8: .8rem;